* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.aaa {
  text-decoration: underline;
}

.header-search,
.navbar-list,
.header {
  display: flex;
  margin: 15px;
}

/* .header {
  border-bottom: 1px solid black;
  margin-left: -2px;
} */

htnl {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.header-search {
  border: 1px solid black;
  border-right: none;
}

.header-search-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid gray;
  border-radius: 4px; */
  width: 553px;
  height: 48px;
  margin-left: 33px;
}

.header-search-nav .button-hover {
  /* margin-left: 20px; */
}

.header-search .search-header-search-block {
  margin-right: 10px;
  margin-left: -231px;
  border: none;
}

.search-header-search {
  border: none;
  margin-left: -300px;
}

.header .logo {
  height: 70px;
  width: 70px;
}

.header-search input {
  height: 48px;
  width: 111px;
}

.icon-button {
  width: 12px;
  height: 13px;
}

.button-hover-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -566px;
  border: 1px solid black;
  padding: 4px;
  border-left: none;
}

.button-hover-block .button-hover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-hover-block .button-hover:hover {
  cursor: pointer;
  opacity: 0.9;
}

.button-hover .button-hover-ngay-khachang {
  border: none;
  background-color: white;
}

.button-hover-ngay-khachang:hover {
  opacity: 0.9;
}

.button-hover .search-icon {
  width: 16px;
  height: 16px;
}

.nav-item .VN-icon {
  height: 20px;
  width: 20px;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.navbar-list .nav-item {
  margin-left: 20px;
}

.nav-item-monney button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid gray;
  background-color: aliceblue;
  border-radius: 4px;
}

.nav-item-monney button:hover {
  opacity: 0.7;
}

.navbar-list .sub-title {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
  color: black;
}

.navbar-list .sub-title:hover {
  color: blueviolet;
}

.nwng {
  border-bottom: 1px solid gray;
}

.home-main {
}

.main-container .homemain-img {
  width: 1120px;
  height: 215px;
  border-radius: 16px;
  margin-top: 25px;
  /* margin-left: 70px; */
}

.main-container {
  width: 1110px;
  max-width: calc(100% - 47px);
  margin-left: auto;
  margin-right: auto;
}

.fisrt-home-main .title {
  margin-top: 30px;
  font-family: "Roboto", serif;
  font-size: 30px;
  font-weight: 900;
}

.home-main-img-address .title {
  margin-top: 30px;
  font-family: "Roboto", serif;
  font-size: 30px;
  font-weight: 900;
  margin-top: 60px;
}

.home-main-img-address .sub-title,
.fisrt-home-main .sub-title {
  margin: 20px 0;
}

.img-address-group {
}

.img-address-group .img-address-item {
}

.img-address-group .img-address-item .address {
  position: relative;
  object-fit: cover;
  margin: -1px;
  border-radius: 4px;
  height: 300px;
  /* width: calc(100% + 20px) */
  width: 210px;
}

/* {
  width: calc(100% + 2px);
  margin: -1px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  height: 278px;
} */

.img-address-group .info-img-address {
  position: absolute;
  color: white;
  margin-left: 25px;
  margin-top: -148px;
}

.img-address-group .info-img-address .sub-title {
  font-weight: 700;
  font-family: "Roboto", serif;
}

.img-address-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.promotion {
  margin-top: 30px;
}

.promotion .info-promotion .title {
  margin-top: 30px;
  font-family: "Roboto", serif;
  font-size: 30px;
  font-weight: 900;
  margin-top: 60px;
  margin-bottom: 20px;
}

.img-promotion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  gap: 10px;
}

.promotion-img-item {
  height: 174px;
  width: 370px;
  border-radius: 16px;
  object-fit: cover;
}

.Suggest {
  margin-top: 30px;
}

.Suggest .title {
  margin-top: 30px;
  font-family: "Roboto", serif;
  font-size: 30px;
  font-weight: 900;
}

.Suggest .sub-title {
  margin: 30px 0;
}

.suggest-item .suggest-img {
  display: block;
  object-fit: cover;
  height: 204px;
  width: 268px;
  border-radius: 4px;
}

.suggest-info .suggest-sub-title {
  width: 250px;
  margin: 15px 0;
  font-family: "Roboto", serif;
  line-height: 1.2;
  font-size: 13px;
  color: rgb(66, 56, 56);
}

.suggest-info .suggest-title {
  margin: 15px 0;
  font-family: "Roboto", serif;
}

.suggest-row {
  display: flex;
  gap: 20px;
}

.Suggest2 {
  margin-top: 30px;
}

.Suggest2 .Suggest2-title {
  margin-top: 60px;
  font-family: "Roboto", serif;
  font-size: 30px;
  font-weight: 900;
}

.Suggest2 .Suggest2-sub-title {
  margin: 30px 0;
}

.Suggest2-item .Suggest2-img {
  position: relative;
  height: 230px;
  width: 355px;
  border-radius: 4px;
  object-fit: cover;
  box-shadow: inset;
}

.Suggest2-item .Suggest2-img:hover {
  filter: blur(1px); /*Làm nhòe ảnh với bán kính 5px */
  transition: filter 0.5s ease; /* Thêm hiệu ứng chuyển động mượt mà khi áp dụng làm nhòe. */
  /* transform: scale(1.1); Tùy chọn: Phóng to ảnh nhẹ khi di chuột để tạo cảm giác động. */
  overflow: hidden;
  cursor: pointer;
}

.Suggest2-item .Suggest-info .title {
  position: absolute;
  margin-top: -60px;
  color: rgba(255, 255, 255, 0.92);
  width: 320px;
  line-height: 1.4;
  font-weight: 600;
  font-family: "Roboto", serif;
  margin-left: 20px;
  font-size: 15px;
}

.Suggest2-item .Suggest-info .Suggest-btn {
  position: absolute;
  margin-top: -190px;
  margin-left: 95px;
  border-radius: 16px;
  border: none;
  /* background-color: rgb(218, 218, 218); */
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.Suggest-row {
  display: flex;
  gap: 30px;
}

.Tutorial {
  margin-top: 60px;
}

.Tutorial .tutorial-title {
  margin-top: 60px;
  font-family: "Roboto", serif;
  font-size: 30px;
  font-weight: 900;
}

.Tutorial .tutorial-sub-title {
  margin: 30px 0;
}

.tutorial-row {
  display: flex;
  gap: 20px;
}

.tutorial-row .tutarial-img {
  height: 223px;
  width: 360px;
  border-radius: 4px;
}
